/*
font-weight: 100;
font-weight: 200;
font-weight: 300;
font-weight: 400;  regular
font-weight: 500;
font-weight: 600;
font-weight: 700;  bold
font-weight: 800;
font-weight: 900; bolder
*/

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-ExtraBoldItalic.ttf);
    font-weight: 900;
    font-style: italic;
}