<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
	  <link rel="icon" href="images/icono.ico">
      <title>Negocios Agroganaderos</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout products_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html"><img src="images/logo.png" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item ">
                                 <a class="nav-link" href="index.html"> Inicio  </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="about.html">Nosotros</a>
                              </li>
                              <li class="nav-item active">
                                 <a class="nav-link" href="products.html">Lotes </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="blog.html">Novedades</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="contact.html">Contacto</a>
                              </li>
                              
                              <li class=" d_none get_btn">
								 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
                                <a href="https://api.whatsapp.com/send?phone=595%20982%20594052&text= Buenas, quisiera mas información sobre los lotes" class="float" target="_blank">
                                <i style="color: black !important;" class="fa fa-whatsapp my-float"></i><span style="color: black;text-shadow: 1px 1px 5px brown;font-size: 13px;text-align: center; font-family: Arial, Helvetica, sans-serif;"> +595 982 594052</span>
                                </a>
                                </a>
                              </li>
							  
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- product  section -->
      <div class="product">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="titlepage">
                     <h2>TORETONES</h2>
					 <h2>¡LOTES DISPONIBLES!</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding_left0">
                  <div class="product_box">
                     <figure><img src="images/product1.jpg" alt="#"/></figure>
                     <h3>Vacas preñadas</h3>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                  <div class="product_box">
                     <figure><img src="images/product2.jpg" alt="#"/></figure>
                     <h3 >Vacas con cria</h3>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 padding_right0">
                  <div class="product_box">
                     <figure><img src="images/product3.jpg" alt="#"/></figure>
                     <h3>Desmamantes</h3>
                  </div>
               </div>
               <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 padding_left0">
                  <div class="product_box">
                     <figure><img src="images/product4.jpg" alt="#"/></figure>
                     <h3>Toretones</h3>
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 padding_right0">
                  <div class="product_box">
                     <figure><img src="images/product5.jpg" alt="#"/></figure>
                     <h3>Vaquillas</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end product  section -->
      <!--  footer -->
       <footer id="contact">
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-4">
                     <div class="titlepage">
                        <h2>Contactanos</h2>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <form id="request" class="main_form">
                        <div class="row">
                           <div class="col-md-3 ">
                              <input class="contactus" placeholder="Nombre y Apellido" type="type" name="Full Name"> 
                           </div>
                           <div class="col-md-3">
                              <input class="contactus" placeholder="Correo" type="type" name="Email"> 
                           </div>
                           <div class="col-md-3">
                              <input class="contactus" placeholder="Teléfono" type="type" name="Phone Number">                          
                           </div>
                           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                              <ul class="social_icon">
                                 <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                 <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                              </ul>
                           </div>
                           <div class="col-md-8">
                              <textarea class="contactus1" placeholder="Digite su mensaje" type="type" Message="Name">Digite su mensaje</textarea>
                           </div>
                           <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                              <button class="send_btn">Enviar</button>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="col-md-4 border_right">
                     <ul class="location_icon">
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>Nivaclé 4026 c/ Mby'a</li>
                        <li><a href="#"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></a>+595 982 594052 </li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>comercial@marcafuego.com.py</li>
                     </ul>
                  </div>
                   <!--<div class="col-md-3 border_right">
                     <h3>Useful Link</h3>
                     <ul class="link">
                        <li><a href="#">humour, or </a></li>
                        <li><a href="#">randomised words </a> </li>
                        <li><a href="#">which don't look </a></li>
                        <li><a href="#">even slightly  </a> </li>
                        <li><a href="#">believable. If   </a></li>
                     </ul>
                  </div>-->
                  <div class="col-md-3 border_right">
                     <h3>Menu</h3>
                     <ul class="link">
<li><a href="index.html">Inicio</a></li>                             
<li><a href="about.html">Nosotros</a></li>                                                     
<li><a href="products.html">Productos</a></li>                             
<li><a href="blog.html">Novedades</a></li>
<li><a href="contact.html">Contacto</a></li>
                     </ul>
                  </div>
                  <div class="col-md-3">
                     <form class="bottom_form">
                        <h3>Informativo</h3>
                        <input class="enter" placeholder="Ingrese su correo" type="text" name="Enter your email">
                        <button class="sub_btn">Suscribirse</button>
                     </form>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p class="black">© Desarrollado por INFO SERVICE - Soluciones Tecnologicas: 2022<a href="https://html.design/"></a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
   </body>
</html>

